.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin {
  margin-bottom: 20px
};
.tbFormat {
  text-align: left;
}
.btnhum{
  height: 70px;
}
.btnHumburger{
  margin-top: 20px;
  left: 10px;
  position: absolute;
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 2px 7px 0px 7px;
  font-size: 20px;
  border-radius: 3px;
}

.sideBar, .content {
  overflow:auto;
  transition: width .35s;
  height: 100vh;
}
.content{
  position: relative;
  padding: 10px;
}
.sideBar{
  background-color: #000;
  width: 300px;
  color: #fff;
  float: left;
}
